<footer>
    <h1>Lorem ipsum color</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Deserunt expedita eos ex, quasi possimus vel voluptate saepe 
        amet eum minima? Maiores beatae quos veniam tempora numquam 
        nihil libero sequi officiis!</p>
</footer>